.settings-container {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 25px 0px;
    color: var(--text-heading);
    font-size: 24px;
}

.devicesParams-container {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 25px 0px;
}

.devices-container {
    width: 100%;
    height: 80%;
    overflow-y: auto;
}