.settings-container {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 25px 0px;
    color: var(--text-heading);
    font-size: 24px;
}

.devicesParams-container {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 25px 0px;
}

.devices-container {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    align-items: center;
}

.device-container {
    width: 60%;
    border: 2px solid var(--component-border);
    border-radius: 15px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.device-icon {
    width: 60px;
    height: 60px;
}

.device-button {
    width: 150px;
    height: 100%;
    color: var(--text-heading);
    font-size: 0.9em;
}

.device-button button {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.6s ease;
}

.device-button button:hover {
    background-color: red;
}