.create-localchat-blur {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--main-body), 1);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  color: var(--text-heading);
}

.create-localchat-window {
  background: var(--main-body);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--drop-shadow-windows);
  width: 400px;
  height: 250px;
  position: relative;
  text-align: center;
  border-radius: 25px;
  user-select: none;
  /* Для старых браузеров: */
  -ms-user-select: none; /* IE, Edge */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari */
}

.create-localchat-container {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.create-localchat-header {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--component-border);
  border-radius: 25px 25px 0px 0px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0px 20px 0px 20px;
  color: var(--text-heading);
  font-size: 18px;
}

.create-localchat-header p {
  width: 80%;
  text-align: center;
}

.create-localchat-header svg path {
  fill: var(--text-heading);
  cursor: pointer;
}

.create-localchat-main {
  width: 100%;
  height: 200px;
  border-radius: 0px 0px 25px 25px;
  padding: 20px;
}

.create-localchat-main-inputfield {
  width: 100%;
  height: 40px;
  background-color: var(--input-field);
  margin-top: 25px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.create-localchat-main-inputfield input {
  width: 100%;
  height: 100%;
  background-color: var(--input-field);
  outline: none;
  margin-left: 20px;
}

.create-localchat-main-addedusers {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  height: 100%;
  border-radius: 20px;
  background-color: var(--input-field);
  padding: 5px;
}

.create-localchat-main-addedusers-container {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding: 0 10px;
  box-sizing: border-box;
  overflow-y: hidden;
  -ms-overflow-style: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(199, 199, 199, 0.5) transparent;
}

.create-localchat-main-createbtn {
  width: 100%;
  height: 40px;
  background-color: var(--button-color2);
}
