  .toggler {
    width: 80px;
    height: 40px;
    background-color: var(--checkbox-thumb-active);
    border: 1px solid var(--checkbox-thumb-unactive);
    display: flex;
    border-radius: 25px;
    padding: 0px 0px 0px 0px;
    position: relative;
}

.toggler input {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
}

.check {
    width: 100px;
    height: 40px;
    position: absolute;
    border-radius: 25px;
    display: flex;
}

.check div {
    width: 40px;
    height: 39px;
    background-color: var(--checkbox-thumb-unactive);
    border-radius: 50%;
    transition: transform 0.4s ease;
}

.toggler input:checked + .check div {
    transform: translateX(40px);
    /* background-color: var(--checkbox-thumb-active); */
}

.toggler input:checked + {
  background-color: var(--checkbox-thumb-unactive);
}