.chatSideBar-container {
    width: 100%;
    height: 100%;
}

.chatSideBar-avatar {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    color: var(--text-heading);
    gap: 10px;
}

.chatSideBar-avatar img {
    width: 90px;
    height: 90px;
    background-color: aqua;
    border-radius: 50%;
}

.chatSideBar-desc {
    width: 100%;
    height: 100px;
    background-color: var(--settings-body);
    border-radius: 10px;
    color: var(--text-heading);
    font-size: 1.1em;
}
